<html>
  <style>
    body {
      background-repeat: no-repeat;
      background-attachment: fixed;
      color: #fff;
      background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); 
      margin: 8rem 10rem;
    }

    html {
      height: 100%;
    }

    h1{
      text-align: center;
    }
    
    .buttons{
      display: flex;
      align-items: left;
      gap: 6%;
      margin: 1.5rem 0;
      color: #E8E7EB;
    }

    .btn-transparent {
      background-color: rgba(255, 255, 255, 0.15);
      color: white;
      border: 0.5px solid white;
      padding: 5px 20px;
    }
  </style>
  
  <body>
    <h1>Blogs</h1>
    <div class="buttons">
      <%= link_to "Create a blog", new_blog_path, class: "btn btn-transparent" %>
      <% if logged_in? %>
        <%= link_to "My blog", blogs_user_path(current_user), class: "btn btn-transparent" %>
      <% end -%>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= render 'blogs' %>
      </div>
    </div>
  </body>
</html>

