<h1>Blog of <%= current_user.username %></h1>

<div>
  <%= link_to "Create a blog", new_blog_path, class: "btn btn-primary" %>
  <%= link_to "My blog", blogs_user_path(current_user), class: "btn btn-primary" %>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= render 'blogs/blogs' %>
  </div>
</div>